@import url(https://fonts.googleapis.com/css?family=Arimo:regular,700);

body {
   font-family: 'Arimo';
}

.route {
   position: relative;
}

.description {
   position: absolute;
   left: 4%;
   bottom: 7%;
}

.bg-custom {
   background: #FFF59D;
}

.method {
   position: absolute;
   top: 7%;
   left: 4%;
}

.peopleImage {
   width: 16px;
   height: 16px;
   background: url('./assets/img/icon/people.svg');
}